/* Loader taken from: https://www.loadership.com/loaders/dot_linear_bounce */
.loadership_UZHHE {
  display: flex;
  position: relative;
  width: 72px;
  height: 27px;
}

.loadership_UZHHE div {
  position: absolute;
  top: 15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: loadership_UZHHE_bounce 1.70s infinite;
  animation-timing-function: linear;
}

.loadership_UZHHE div:nth-child(1) {
      animation-delay: 0.00s;
      left: 0px;
  }
.loadership_UZHHE div:nth-child(2) {
      animation-delay: 0.23s;
      left: 13px;
  }
.loadership_UZHHE div:nth-child(3) {
      animation-delay: 0.45s;
      left: 26px;
  }
.loadership_UZHHE div:nth-child(4) {
      animation-delay: 0.68s;
      left: 39px;
  }

@keyframes loadership_UZHHE_bounce {
  0%, 10.588235294117647%, 26.47058823529412%, 42.35294117647059%, 52.94117647058824%, 100% {
    transform: translateY(0);
  }

  21.176470588235293% {
    transform: translateY(-15px);
  }

  31.764705882352942% {
    transform: translateY(-6px);
  }
}
