@import "tailwindcss";

@theme {
  --color-bg-primary: #060606;
  --color-bg-secondary: rgb(17, 17, 17);
  --color-bg-success: #1a2019;

  --color-primary: #fff;
  --color-secondary: #a1a1aa;
  --color-tertiary: #ffffffeb;
  --color-accent: rgb(34, 34, 34);
  --color-custom-black: #060606;
  --color-success: #37b51b;
  --color-placeholder: #888888;

  --default-font-family: 'Inter', sans-serif;
}

@utility gradient-line {
  content: "";
  background: linear-gradient(90deg, #0000, #222, #0000);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
}

.lang-button {
  @apply px-4 py-2 rounded-xl font-semibold border-2 border-transparent hover:border-accent hover:cursor-pointer transition-colors;
}

.change-lang-button {
  @apply appearance-none pl-4 pr-7 py-2 rounded-xl font-semibold border-2 border-transparent hover:border-accent hover:cursor-pointer transition-colors focus:outline-none focus:border-accent;
}

.action-button {
  @apply p-2 rounded-xl font-semibold border-1 border-secondary opacity-80 h-fit hover:cursor-pointer hover:bg-accent transition-colors disabled:opacity-25 disabled:hover:bg-transparent;
}

.action-button-white {
  @apply px-2 py-1.5 rounded-xl font-semibold border-1 bg-primary text-custom-black border-primary h-fit hover:cursor-pointer hover:bg-primary/90 transition-colors;
}

.success-button {
  @apply p-2 rounded-xl font-semibold border-1 bg-bg-success border-success text-success opacity-80 h-fit hover:cursor-pointer transition-colors;
}